* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-image: url(image/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.Weather-container {
    display: flex;
    justify-content: space-between;
    width: 96%;
    height: 90vh;
    max-width: 800px;
    margin: auto;
    margin-top: 3vh;
}

.title-container {
    width: 45%;
    background-image: url(image/bg2.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
    opacity: .9;
}

.data {
    display: flex;
    flex-direction: column;
    width: 55%;
    opacity: .8;
    background: -moz-linear-gradient(135deg, rgb(49, 59, 54), rgb(40, 90, 86));
    background: -webkit-linear-gradient(135deg, rgb(49, 59, 54), rgb(40, 90, 86));
}

.input-container {
    width: 100%;
    height: 30%;
    margin-top: 20px;
    text-align: center;
}

.input-container input[type="text"] {
    width: 90%;
    padding: 10px;
    margin: 5px;
    border-radius: 8px;
    outline: none;
    font-size: 1rem;
    font-weight: bold;
}

.input-container input[type="button"] {
    width: 90%;
    padding: 5px;
    margin: 5px;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.input-container input[type="button"]:hover {
    background-color: transparent;
    color: white;
    border: 2px solid gold;
}

.data-container {
    width: 100%;
    height: 70%;
    text-align: center;
    color: honeydew;
}

.data-container h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.data-container p {
    margin-bottom: 10px;
    font-size: 1.3rem;
    text-align: center;
    padding-right: 10px;
}
